.home {
	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-block: 1.5rem;
	}

	.sectionTitle {
		flex: 0 0 auto;
		width: 50%;
		padding-inline: 12px;
		text-transform: uppercase;
		font-size: 2rem;
		font-weight: 500;
	}

	.viewMore {
		display: flex;
		align-items: center;
		justify-content: end;
		flex: 0 0 auto;
		width: 50%;

		.viewMoreText {
			color: #ffffff;
			font-size: 1.2rem;
			text-decoration: none;
			transition: all 0.3s;

			&:hover {
				color: var(--second);
			}

			i {
				height: 19.2px;
				vertical-align: middle;
			}
		}
	}

	.body {
		display: flex;
		flex-wrap: wrap;
		margin-top: calc(-1 * 0);
		margin-right: calc(-0.5 * 1.5rem);
		margin-left: calc(-0.5 * 1.5rem);
	}
}
